@model List<MenuItem>

<div class="d-flex gap-3 mb-4">
    <a asp-action="Index" asp-controller="Admin" class="btn btn-primary">Return</a>
    <a asp-action="Create" asp-controller="MenuItem" class="btn btn-primary">Create</a>
</div>

<div class="d-flex gap-2 flex-wrap">
    @foreach (var menuItem in Model)
    {
        <div class="card" style="width:18rem">
            <div class="card-body">
                <h5 class="card-title">@menuItem.Name</h5>

                <p class="card-text">Menu ID: @menuItem.MenuID</p>
                <p class="card-text">Price: @menuItem.Price</p>
                <p class="card-text">Availability: @menuItem.IsAvailable</p>
                <p class="card-text">Discription: @menuItem.Description</p>
                <a asp-controller="MenuItem" asp-action="Edit" asp-route-menuItemID=@menuItem.MenuItemID class="btn btn-warning">Edit</a>


                <form method="post" asp-action="Delete" style="display:inline;">
                    <input type="hidden" name="menuItemID" value="@menuItem.MenuItemID" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

            </div>
        </div>
    }
</div>

